<div class="recipe-edit">
    <h4>{{!isEdit ? 'Let make new recipe' : 'Update recipe'}}</h4>
    <form class="recipe-edit__form">
        <div class="form-group">
            <label for="name">Recipe Name</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="name">Description</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <label for="name">Image Url</label>
            <input type="text" class="form-control">
        </div>
        <div class="form-group">
            <div class="d-flex align-items-center mb-2">
                <label for="name" class="mr-2" style="margin: 0;">Ingredients</label>
                <button class="btn btn-light btn-small">Add</button>
            </div>
            <div class="form-inline">
                <input type="text" class="form-control mr-2" placeholder="Ingredient name">
                <input type="number" placeholder="Amount" class="form-control">
            </div>
        </div>
    </form>
    <button class="btn"
        [ngClass]="{'btn-success': isEdit, 'btn-primary': !isEdit}">{{ isEdit ? 'Update recipe' : 'Create new recipe' }}</button>
</div>
