
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="#">Course Project</a>
        <button 
          class="navbar-toggler" 
          type="button"
          (click)="isToggle = !isToggle" >
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" 
          id="navbarSupportedContent"
          *ngIf="isToggle">

          <ul class="navbar-nav mr-auto">
            <li 
              class="nav-item"
              (click)="changePage('recipe')"
              [ngClass]="{'active': currentPage === 'recipe'}">
                <a class="nav-link" href="#">Recipes </a>
            </li>   
            <li 
              class="nav-item"
              (click)="changePage('shoppingList')"
              [ngClass]="{'active': currentPage === 'shoppingList'}">
              <a class="nav-link" href="#">
                Shopping List <span class="sr-only">(current)</span>
              </a>
            </li>   
          </ul>
          <ul class="navbar-nav my-2 my-lg-0">
            <li class="nav-item dropdown">
              <a 
                class="nav-link dropdown-toggle" 
                href="#" id="navbarDropdown" 
                role="button" 
                (click)="onDropdown()">
                Dropdown
              </a>
              <div 
                class="dropdown-menu"
                *ngIf="isDropdown">
                <a class="dropdown-item" href="#">Save data</a>
                <a class="dropdown-item" href="#">Fetch data</a>
              </div>
            </li>
          </ul>
        </div>
    </div>
</nav>
