<div class="shopping-list__edit row">
    <div class="col-md-7">
        <div class="form-row">
            <div class="col-md-8">
                <label for="name">Ingredient</label>
                <input 
                    type="text" 
                    class="form-control" 
                    name="name">
            </div>
            <div class="col-md-4">
                <label for="amount">Amount</label>
                <input 
                    type="number" 
                    name="amount"
                    class="form-control" >
            </div>
        </div>
    </div>
    <div class="col-md-7 mt-2">
        <div class="btn-group">
            <button class="btn btn-success">Add</button>
            <button class="btn btn-danger">Delete</button>
            <button class="btn btn-primary">Clear</button>
        </div>
    </div>
</div>
