
<app-shopping-list-edit></app-shopping-list-edit>
    
<div class="shopping-list mt-4">
    <ul class="list-group">
        <div class="row">
            <div class="col-md-7">
                <li class="list-group-item"
                    *ngFor="let ingr of ingredients, let i = index"
                    (click)="editItem(i)">
                    <div class="shopping-list__item">
                        <h6>{{ ingr.name }} (x{{ ingr.amount }})</h6>
                    </div>
                </li>
            </div>
        </div>
    </ul>
</div>
