<div class="rep-detail mt-2"
    *ngIf="recipe">
    <div class="row">
        <div class="col-md-12">
            <img 
                [src]="recipe.imgUrl" 
                [alt]="recipe.name"
                class="mb-2">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="second-title mb-2">{{ recipe.name }}</h2>
            <p class="mb-2"> {{ recipe.desc }} </p>

            <div class="dropdown mt-2">
                <button 
                    class="btn btn-primary dropdown-toggle" 
                    type="button" id="dropdownMenuButton"
                    (click)="isDropdown = !isDropdown">
                    Make your choice
                </button>
                <div 
                    class="dropdown-menu" 
                    aria-labelledby="dropdownMenuButton"
                    *ngIf="isDropdown">
                    <a 
                        class="dropdown-item" 
                        [routerLink]="['/shopping-list', recipe.id]"
                        (click)="addShoppingList(recipe.ingredients)">
                        Add to list
                    </a>
                    <a class="dropdown-item" 
                        [routerLink]="['/recipes', recipe.id, 'edit']"
                        >Edit recipe</a>

                    <a class="dropdown-item" href="#">Delete recipe</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            <h5>Dish ingredients</h5>
            <ul class="list-group">
                <li class="list-group-item d-flex justify-content-between align-items-center"
                    *ngFor="let ingr of recipe.ingredients"
                    style="text-transform: capitalize;">
                    {{ ingr.name }}
                    <span class="badge badge-warning badge-pill">{{ ingr.amount }}</span>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row col-md-12" *ngIf="!recipe">
    <h5>Please select a recipe to display here</h5>
</div>
