<div class="rep-detail mt-2"
    *ngIf="recipe">
    <div class="row">
        <div class="col-md-12">
            <img 
                [src]="recipe.imgUrl" 
                [alt]="recipe.name"
                class="mb-2">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="second-title mb-2">{{ recipe.name }}</h2>
            <p class="mb-2"> {{ recipe.desc }} </p>

            <div class="dropdown mt-2">
                <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton">
                    Make your choice
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Shopping list</a>
                    <a class="dropdown-item" href="#">Edit recipe</a>
                    <a class="dropdown-item" href="#">Delete recipe</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-12">
            This is all ingredient here
        </div>
    </div>
</div>
<div class="row col-md-12" *ngIf="!recipe">
    <h5>Please select a recipe to display here</h5>
</div>
